@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap');

html,
boyd,
#root,
.app,
.content {
  height: 100%;
  width: 100%;
  font-family: 'Source Sans Por', sans-serif;
}

.app{
  display: flex;
  position: relative;
}

::-webkit-scrollbar{
  width: 10px;
}

::-webkit-scrollbar-track{
  background: #e0e0e0
}

::-webkit-scrollbar-thumb{
  background: #888;
}

::-webkit-sc:hover{
  background: #555;
}